body{
font-family: Arial;
background:#f2f6ff;
margin:0;
text-align:center;
}

#map{
height:500px;
width:90%;
margin:auto;
border-radius:10px;
}

.panel{
width:90%;
margin:15px auto;
padding:15px;
background:white;
border-radius:10px;
box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

#analisis{
width:90%;
margin:20px auto;
padding:20px;
background:#eef3ff;
border-radius:10px;
text-align:left;
}

/* DISEÑO RESPONSIVE PARA TELÉFONOS */
@media (max-width: 768px){

.hero-text{
font-size:20px;
margin-left:20px;
margin-right:20px;
}

.navbar{
padding-left:20px;
font-size:14px;
}

.software{
padding:40px 15px;
}

.title{
font-size:24px;
}

.panel{
padding:18px;
}

input{
width:100%;
margin-top:8px;
}

button{
width:100%;
margin-top:10px;
}

#map{
height:420px;
}

.scroll{
right:20px;
font-size:32px;
}

.modal-content{
width:90%;
padding:20px;
}

}
